/* Add a gray background color with some padding */

* {
  box-sizing: border-box;
}


html{
  height: 100%;
}

body {
  font-family: Arial;
  margin: 0;
  background:  white;
  height: 100%; 
}

/* Header/Blog Title */
.header {
  width: 100%;
  height: 23rem;
  text-align: left;
  position:relative;
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Header/Blog Title */
.header.blogpost {
  width: 100%;
  height: 4rem;
  text-align: left;
  position:relative;
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1.headline {
  font-size: 3em;
  height:80px;position:absolute;bottom:0;left:72px;
  color: white;
}

h2 {
  color: #464646;
  font-size: 1.2rem;
  line-height: 1.45;
  margin: 0;
}

h2.blogtitle {
max-width: 800px;
}

h5 {
  color: #a4a5a6;
  line-height: 1.50;
  margin: 0;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;

}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
}

.imgportraitbloglist {
  background-color: #aaa;
  height: 300px;
  width: 250px;
}

h5.tags {
  margin-bottom: 20px;
}

/* Fake image */
.imgportrait {
  background-color: #aaa;
  height: 700px;
  width: 550px;
}

.imglandscape {
  background-color: #aaa;
  height: 400px;
  width: 700px;
}

.imgsecondary {
  background-color: #aaa;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card {
  max-width: 85%;
  padding-top: 80px;
  padding-left: 74px;
}

.cardcategory {
  max-width: 100%;
  padding-top: 80px;
}

.cardend {
  margin-top: 60px;
  max-width: 850px;
  margin-bottom: 0px;
  border-bottom: 1px solid #aab8c2;
}

ol.navlink li.preblog {
  margin-right: 2px;
}

ol.navlink li.postblog {
  margin-left: 60px;
}

ol.navlink li.last {
  margin-left: 25px;
}

/* Add a card effect for articles */
.card.blog-list {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   height: auto;
}

.main {
  margin-top: 50px;
  background-color: white;
}

ul.categories li a {
  color: black;
}

h3.categories {
  margin-top: 0px;
  color: black;
  font-size: 25px;
  padding-left: 74px;
}

ul.categories li {
  font-size: 18px;
}

ul.categories li.current {
  font-size: 18px;
}

.description {
  background-color: white;
  margin-top: auto;
  color: #16222A;
  font-size: 14px;
}

.card.blog-post {
  background-color: white;
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding-top: 75px;
  background: white;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }

  .cardpost h2.blogtitle {   
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .cardpost a.blogtitle {   
    font-size: 1.7rem;
    line-height: 1.7rem;
  }
}


@media (min-width: 1600px) {
  body {
    background-color: white;
  }
}

a {
  text-decoration: none;
  color: white
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


h5.date {
  color: #aab8c2;
  margin-top: 30px;
}


h5.category {
  margin-bottom: 10px;
}

h5.category a {
  color: #aab8c2;
}

a.blogtitle {
  width: 85%;
  text-decoration: none;
  color: #ffae1a;
  font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.25rem;
  letter-spacing: -.025rem;
  margin: 0;
  padding: 0;
  word-break: break-word;
  padding-top: 5px;
}

h2.blogtitle {
  width: 85%;
  text-decoration: none;
  color: #14171a;
  font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -.025rem;
  margin: 0;
  padding: 0;
  word-break: break-word;
  padding-top: 5px;
}


a.blogtitle:hover {
  text-decoration: none;
  color: #657786;
}

a.blogtitle:active {
  text-decoration: underline;
}

ul.categories {
  list-style: none;
  margin-left: -38px;
}

ol.navlink {
  position:absolute;top:5px;bottom:0;left:31px;
}

ol.tags {
  margin-top: 3px;
}

ol.tags li {
  list-style: none;
  display: inline-block;
}

ol.tags li.first {
  margin-right: 1px;

}

ol.navlinkdrop {
  position:absolute;top:5px;bottom:0;left:112px;
}

ol.navlinkdrop li {
  list-style: none;
  margin-right: 5px;
  font-size: 16px;
}

ol.navlinkdrop li b::after  {
  margin-right: 15px;
}

ol.navlink li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  font-size: 16px;
}

ol.navlink li::after {
  margin-left: 0.5em;
  color: #f1f1f1
  
}

ol.navlink li.last::after {
  content: "";
}

a.button {
  text-decoration: none;
  font-size: 11px;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  background-color: rgb(245, 135, 46);
}

h5.button {
  text-decoration: none;
  font-size: 11px;
  color: #fff;
  border-radius: 3px;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: rgb(245, 135, 46);
}

ul.arrows {
  margin-top: 35px;
  margin-left: -40px;
  text-align: left;
  list-style: none;
}
ul.arrows + ul.arrows {
  margin-top: -1em;
}
ul.arrows li.arrows {
  display: inline-block;
}

/*   background-color: rgb(129, 85, 85); arrow common style */
.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.arrow-top {
  transform: rotate(-45deg);
}
.arrow-right {
  transform: rotate(45deg);
}
.arrow-bottom {
  transform: rotate(135deg);
}
.arrow-left {
  transform: rotate(-135deg);
}
.arrow-top-narrow {
  transform: rotate(-45deg) skew(-15deg, -15deg);
}
.arrow-top-wide {
  transform: rotate(-45deg) skew(7deg, 7deg);
}
.arrow-top-left {
  transform: rotate(-90deg) skew(-10deg, -10deg);
}
.arrow-top-right {
  transform: rotate(0) skew(-10deg, -10deg);
}
.arrow-bottom-left {
  transform: rotate(180deg) skew(-10deg, -10deg);
}
.arrow-bottom-right {
  transform: rotate(90deg) skew(-10deg, -10deg);
}

.dropdown {
  position:absolute;bottom:0;  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  width: 180px;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 14px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  width: 180px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover  a.dropdown {color: rgb(228, 228, 228);}

h4 {
  color: white;
  font-size: 38px;
  margin-left: 70px;
}