/* Add a gray background color with some padding */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  margin: 0;
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  color: white;
}

h2 {
  color: #464646;
  font-size: 1.2rem;
  line-height: 1.45;
  margin: 0;
}

h5 {
  color: #a4a5a6;
  line-height: 1.50;
  margin: 0;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.imgportraitbloglist {
  background-color: #aaa;
  height: 300px;
  width: 250px;
}

h5.tags {
  margin-bottom: 20px;
}

/* Fake image */
.imgportrait {
  background-color: #aaa;
  height: 700px;
  width: 550px;
}

.imglandscape {
  background-color: #aaa;
  height: 400px;
  width: 700px;
}

.imgsecondary {
  background-color: #aaa;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Add a card effect for articles */
.card.blog-list {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   height: auto;
}

.description {
  background-color: white;
  margin-top: auto;
  color: #16222A;
  font-size: 14px;
}

.card.blog-post {
  background-color: white;
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: #e0a80d
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

ul.categories {
  list-style: none;
  margin-left: -38px;
}

ol.navlink {
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: -35px;
}


ol.navlink li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

ol.navlink li::after {
  margin-left: 0.5em;
  content: "\00BB";
  color: #f1f1f1
  
}

ol.navlink li.last::after {
  content: "";
}

a.button {
  text-decoration: none;
  font-size: 11px;
  color: #fff;
  border-radius: 2px;
  padding: 3px;
  background-color: rgb(53, 53, 53);

}

ul.arrows {
  margin-top: 35px;
  margin-left: -40px;
  text-align: left;
  list-style: none;
}
ul.arrows + ul.arrows {
  margin-top: -1em;
}
ul.arrows li.arrows {
  display: inline-block;
}

/* arrow common style */
.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.arrow-top {
  transform: rotate(-45deg);
}
.arrow-right {
  transform: rotate(45deg);
}
.arrow-bottom {
  transform: rotate(135deg);
}
.arrow-left {
  transform: rotate(-135deg);
}
.arrow-top-narrow {
  transform: rotate(-45deg) skew(-15deg, -15deg);
}
.arrow-top-wide {
  transform: rotate(-45deg) skew(7deg, 7deg);
}
.arrow-top-left {
  transform: rotate(-90deg) skew(-10deg, -10deg);
}
.arrow-top-right {
  transform: rotate(0) skew(-10deg, -10deg);
}
.arrow-bottom-left {
  transform: rotate(180deg) skew(-10deg, -10deg);
}
.arrow-bottom-right {
  transform: rotate(90deg) skew(-10deg, -10deg);
}