/**
 * CUSTOM CSS
 *
 * Here you can add your custom CSS code.
 */
/**
 * THEMES.DARK
 */
/* Body */


  /**
 * CUSTOM CSS
 *
 * Here you can add your custom CSS code.
 */

.c-image-overlay img {
  transition: ease .8s;
  transform: scale(1.012);
}
.c-image-overlay:hover img {
  width: 100%;
  transition: ease .6s;
}

.c-image-overlay .c-image-overlay__deco-line {
  width: 15%;
}
.c-image-overlay:hover .c-image-overlay__deco-line {
  width: 0;
}

.c-image-overlay__content {
  opacity: 1;
}
.c-image-overlay:hover .c-image-overlay__content {
  opacity: 0;
}

.t-image-overlay img {
  opacity: .2;
}
.t-image-overlay:hover img {
  opacity: 1;
}
  